.logo{width: 215px;
      height: 100px;
    }

  .logo-sticky a img.logo-image{margin-top:-20px!important;}

  @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


       body{
        background-color:#fff;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
       }


       

       @media only screen and (max-width:768px) {

        .container{
        margin-top: 66px;
       }

         }

       .height{
        height: 100vh;
       }

       .card{

        border: none;
        cursor: pointer;
        box-shadow: 0 0 40px rgba(51, 51, 51, .1)
       }

       .card:hover{

        background-color: #eee;

       }

       .ratings i{

        color: orange;
       }

       .testimonial-list{

        list-style: none;
       }

       .testimonial-list li{

        margin-bottom: 20px;
       }

       .testimonials-margin{

        margin-top: -19px;
       }


       .rounded-circle {
        width: 50px;
    }
  
    
    .footer-navigation h3 {
      margin: 0;
      font: normal 36px Cookie, cursive;
      margin-bottom: 20px;
      color: #fff;
    }
    
    .footer-navigation h3 a {
      text-decoration: none;
      color: #fff;
    }
    
    .footer-navigation h3 span {
      color: #5383d3;
    }
    
    .footer-navigation p.links a {
      color: #fff;
      text-decoration: none;
    }
    
    .footer-navigation p.company-name {
      color: #8f9296;
      font-size: 14px;
      font-weight: normal;
      margin-top: 20px;
    }
    
    @media (max-width:767px) {
      .footer-contacts {
        margin: 30px 0;
      }
    }
    
    .footer-contacts p {
      display: inline-block;
      color: #ffffff;
      vertical-align: middle;
    }
    
    .footer-contacts p a {
      color: #5383d3;
      text-decoration: none;
    }
    
    .fa.footer-contacts-icon {
      background-color: #33383b;
      color: #fff;
      font-size: 18px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 38px;
      margin: 10px 15px 10px 0;
    }
    
    span.new-line-span {
      display: block;
      font-weight: normal;
      display: block;
      font-weight: normal;
      font-size: 14px;
      line-height: 2;
    }
    
    .footer-about h4 {
      display: block;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    .footer-about p {
      line-height: 20px;
      color: #92999f;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
    }
    
    div.social-links {
      margin-top: 20px;
      color: #fff;
    }
    
    .social-links a {
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color: #33383b;
      border-radius: 2px;
      font-size: 20px;
      color: #ffffff;
      text-align: center;
      line-height: 35px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
    
   
    
    body {
      background: #eee;
    }

    .footer-item {
      display: flex;
      margin: 0 70px;
  }
  body {
    background-color:#B3E5FC;
        }

.card {
    border: none;
    border-radius: 20px;
    transition:all 0.5s;
    cursor:pointer;
}

.card:hover{
    transform:scale(1.1);
   
}
.heading {
    font-size: 32px;
    font-weight: bold;
    text-align: center
}

.name {
    font-size: 15px;
    font-weight: bold
}

.square {
    background-color: #fedcdd;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center
}

.email {
    font-size: 14px;
    margin-left: 25px;
    font-weight: bold
}

.dummytext {
    font-size: 12px;
    font-weight: normal;
    color: #848590
}

.icons i {
    color: #FA222A;
    margin-left: 25px
}


.icons span {
    font-size: 13px;
    font-weight: normal;
    color: #848590
}

.square1 {
    background-color: #cfe3fe;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center
}

.icons1 i {
    color: #497eea;
    margin-left: 25px
}

.icons1 span {
    font-size: 13px;
    font-weight: normal;
    color: #848590
}

.square2 {
    background-color: #ffefc5;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center
}

.icons2 i {
    color: #ffc227;
    margin-left: 25px
}

.icons2 span {
    font-size: 13px;
    font-weight: normal;
    color: #848590
}

.square5 {
    background-color: #41cfff;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center
}

.icons5 i {
    color: #41cfff;
    margin-left: 25px
}

.icons5 span {
    font-size: 13px;
    font-weight: normal;
    color: #848590
}

.square4 {
    background-color: #eae6fd;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center
}

.icons4 i {
    color: #6a35ff;
    margin-left: 25px
}

.icons4 span {
    font-size: 13px;
    font-weight: normal;
    color: #848590
}

.square3 {
    background-color: #fedfce;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center
}

.icons3 i {
    color: #ff8339;
    margin-left: 25px
}

.icons3 span {
    font-size: 13px;
    font-weight: normal;
    color: #848590
}
h2.about-heading {
  margin: 30px 0px;
  font-size: 40px;
}
.service-list {
  margin-top: 100px;
}
body { color: #ccc }
.footer-widget p {
    margin-bottom: 27px;
}
p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
  color:white;
    line-height: 28px;
}

   .animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: #007bff; }

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

.animate-border.border-white:after {
  border-color: #fff; }

.animate-border.border-yellow:after {
  border-color: #F5B02E; }

.animate-border.border-orange:after {
  border-right-color: #007bff;
  border-left-color: #007bff; }

.animate-border.border-ash:after {
  border-right-color: #EEF0EF;
  border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
  border-right-color: #F7F9F8;
  border-left-color: #F7F9F8; }

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%; }
  50% {
    width: 90%; }
  100% {
    width: 10%; } }

@keyframes primary-long {
  0% {
    width: 80%; }
  50% {
    width: 0%; }
  100% {
    width: 80%; } } 

.dk-footer {
  padding: 75px 0 0;
  position: relative;
  z-index: 2; }
  .dk-footer .contact-us {
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 80px; }
    .dk-footer .contact-us .contact-info {
      margin-left: 50px; }
    .dk-footer .contact-us.contact-us-last {
      margin-left: -80px; }
  .dk-footer .contact-icon i {
    font-size: 24px;
    top: -15px;
    position: relative;
    color:#007bff; }

.dk-footer-box-info {
  position: absolute;
  top: -122px;
  padding: 40px;
  z-index: 2; }
  .dk-footer-box-info .footer-social-link h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px; }
  .dk-footer-box-info .footer-social-link ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  .dk-footer-box-info .footer-social-link li {
    display: inline-block; }
  .dk-footer-box-info .footer-social-link a i {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    background: #000;
    margin-right: 5px;
    color: #fff; }
    .dk-footer-box-info .footer-social-link a i.fa-facebook {
      background-color: #3B5998; }
    .dk-footer-box-info .footer-social-link a i.fa-twitter {
      background-color: #55ACEE; }
    .dk-footer-box-info .footer-social-link a i.fa-google-plus {
      background-color: #DD4B39; }
    .dk-footer-box-info .footer-social-link a i.fa-linkedin {
      background-color: #0976B4; }
    .dk-footer-box-info .footer-social-link a i.fa-instagram {
      background-color: #B7242A; }

.footer-awarad {
  margin-top: 285px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-awarad p {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-left: 20px;
    padding-top: 15px; }

.footer-info-text {
  margin: 26px 0 32px; }

.footer-left-widget {
  padding-left: 80px; }

.footer-widget .section-heading {
  margin-bottom: 35px; }

.footer-widget h3 {
  font-size: 24px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content; }

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-widget li {
  margin-bottom: 18px; }

.footer-widget p {
  margin-bottom: 27px; }

.footer-widget a {
  color: #878787;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .footer-widget a:hover {
    color: #007bff; }

.footer-widget:after {
  content: "";
  display: block;
  clear: both; }

.dk-footer-form {
  position: relative; }
  .dk-footer-form input[type=email] {
    padding: 14px 28px;
    border-radius: 50px;
    background: #2E2E2E;
    border: 1px solid #2E2E2E; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
    color: #878787;
    font-size: 14px; }
  .dk-footer-form button[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 24px 12px 17px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid #007bff;
    background: #007bff;
    color: #fff; }
  .dk-footer-form button:hover {
    cursor: pointer; }

/* ==========================

    Contact

=============================*/
.contact-us {
  position: relative;
  z-index: 2;
  margin-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contact-icon {
  position: absolute; }
  .contact-icon i {
    font-size: 36px;
    top: -5px;
    position: relative;
    color: #007bff; }

.contact-info {
  margin-left: 75px;
  color: #fff; }
  .contact-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0; }

.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020; }
  .copyright span,
  .copyright a {
    color: #878787;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
  .copyright a:hover {
    color:#007bff; }

.copyright-menu ul {
  text-align: right;
  margin: 0; }

.copyright-menu li {
  display: inline-block;
  padding-left: 20px; }

.back-to-top {
  position: relative;
  z-index: 2; }
  .back-to-top .btn-dark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #2e2e2e;
    border-color: #2e2e2e;
    display: none;
    z-index: 999;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .back-to-top .btn-dark:hover {
      cursor: pointer;
      background: #FA6742;
      border-color: #FA6742; }

      footer {
        color: #fff;
        padding: 20px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .footer-logo {
        font-size: 24px;
        font-weight: bold;
      }
      .social-media {
        flex: 1;
        display: flex;
        justify-content: center;
      }
      .social-icon {
        color: #fff;
        font-size: 20px;
        margin: 0 10px;
      }
      .contact-info {
        flex: 1;
        text-align: right;
      }
      .main-button a{
        color: white;
      }
      .service-heading,.about-heading,.testimonial-heading,.review-heading{
        color: black !important;
      }
      .d-flex.flex-column.ml-2 {
        margin-left: 15px;
    }
    span.client-role {
      font-size: 12px;
      color: black;
  }

 

  .team-inner {
    padding: 20px;
    background: #10e8000f;
    border-radius: 10px;
    height: 400px;
}

.image {
    width: 100%;
    padding: 10px;
    margin: auto;
    text-align: center;
}

.image>img {
    border-radius: 50%;
}

.content {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.team-heading{color:black;
font-size: 25px;}
p.team-par {
  line-height: 20px;
  margin-top: 5px;
}
.meet-team {
  margin: 35px 0px;
}
div#team {
  margin-bottom: 50px;
}

.section-heading.wow.bounceIn.animated {
  margin-top: 100px;
}